body {
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: Arial;
}

#svg {
  background: #0f172a;
}

#topButtons {
  width: 1200px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

#reset {
  background: red;
  color: white;
  border: none;
  padding: 5px 12px;
  border-radius: 10px;
}

#plays {
  background: gray;
  color: white;
  border: none;
  padding: 5px 12px;
  border-radius: 10px;
}

#towerButtons {
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

#towerButtons button {
  background: #7dd3fc;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
}